@charset "utf-8";
/* CSS Document Aspergeboerderij Sandur*/

/* -----------------------------------Fonts----------------------------------- */

@font-face {
    font-family: 'droid_sansregular';	/* text */
    src: url('../fonts/droidsans-webfont.eot');
    src: url('../fonts/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans-webfont.woff') format('woff'),
         url('../fonts/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amienneregular'; /* koppen text mooi */
    src: url('../fonts/amienne_-webfont.eot');
    src: url('../fonts/amienne_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amienne_-webfont.woff') format('woff'),
         url('../fonts/amienne_-webfont.ttf') format('truetype'),
         url('../fonts/amienne_-webfont.svg#amienneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
}
html{
  overflow-x:hidden;
  overflow-y:scroll;
}
body { /* Overflow in body */
    overflow-x:hidden;
		overflow-y:scroll;
	  background: #efedf2; /*Gebroken wit*/
    width: 100vw;

}
/* -----------------------------arrow----------------------------- */
i {
  border: solid #1F4E79;/*blue*/
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.rightarrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.leftarrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.uparrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.downarrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

p{ /*Normaal text black*/
	font-family: 'droid_sansregular';
}
p1{ /*Normaal text black*/
	font-family: 'droid_sansregular';
	color:black;
}
p2{ /*groot text*/
  font-family: 'droid_sansregular';
  font-size: 120%;
  color: #1e1d1d; /*gray*/
}
p3{ /*Normaal gray*/
  font-family: 'droid_sansregular';
  color: #1e1d1d;
}
p4{ /*text on xcursies.php*/
  font-family: 'droid_sansregular';
  font-size: 108%;
  color: #1e1d1d;
}
p5{ /*text onder prijs excursies*/
    font-family: 'droid_sansregular';
    font-size: 14px;
}
p6{ /*excursies pagina*/
    font-family: 'droid_sansregular';
font-size: 18px;
}
p7{ /* underline */
  font-family: 'droid_sansregular';
  text-decoration: underline;
}


a{
text-decoration:none;
color: black;
}

h1	{ /* Head recepten.php */
	font-size:36px;
	font-family: 'amienneregular';
	margin:0;
	padding:0 0 10px 0;
  letter-spacing: 1px;
}

h2	{ /*kopjes*/
	font-size:32px;
	font-family: 'amienneregular';
	margin:0;
	padding:0 0 10px 0;
  letter-spacing: 1px;
}
h3{ /*Title*/
	font-size:52px;
	font-family: 'amienneregular';
  color: #1F4E79; /*blue*/
  letter-spacing: 1px;
}
h4{ /*Title excursies.php*/
	font-size:32px;
	font-family: 'amienneregular';
	margin:0;
	padding:0 0 10px 0;
  letter-spacing: 1px;
  color: #1F4E79; /*blue*/
}
h5{ /* recepten head */
  font-size:52px;
  font-family: 'amienneregular';
  color: black;
  letter-spacing: 1px;
}
h6{ /* recepten probeer ook eens */
  font-size:40px;
  font-family: 'amienneregular';
  letter-spacing: 1px;
  color: #1F4E79; /*blue*/
}
.textvlak{
  padding-right: 3%;
}

li{
  margin-left: 6%;
  list-style-position: outside;
}

/* -----------------------------------Footer----------------------------------- */
footer{
  background: #1F4E79; /*blue*/
  color:white;
  /* position: sticky; */


}
footer:hover{
  background: #2F4F4F;
}
.footertext{
  color:white;
}


/*-------------------------Nieuwsbrief-----------------------------*/
input[type=text], textarea {
    width: 23%;
    padding: 4px;
    border: 5px solid rgba(33, 91, 155, 1);
    border-radius: 10px;
    box-sizing: border-box;
		resize: vertical;
		margin-top: 1%;
}

input[type=submit] {
    background-color: rgba(33, 91, 155, 1);
    color: white;
    padding: 4px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
		font-size: 18px;
}

input[type=submit]:hover {
    background-color: rgba(33, 91, 155, 1);
		color:#8be5dc;
}
.nieuwsbrief{
    text-align: center;
}





.button{
    color: white;
    padding: 2% 2% 2% 2%;
    border: none;
    cursor: pointer;
		font-size: 18px;
		margin-left: 4%;
		margin-right: 8%;
		border-radius: 15px;
		display: inline-block;
		text-transform: uppercase;
		text-align: center;
		vertical-align: middle;
    min-height: 7vh;
    min-width: 37vh;
    box-shadow: 4px 6px 5px grey;
}
.buttoncolorgreen{ 	/*Nieuwsblok*/
    background-color: #1F4E79;
    color: white;
}
.buttoncolorblue{
    background-color: #1F4E79; /*Blue*/
    font-weight: bold;
}

.textvlakwhitedoorzichtig1{
  	border: 1px #1F4E79; /*blue*/
    /* border-style: solid; */
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 0.2%;
    margin-left: 70%;
    text-align: center;
    font-size: 31px;
    /* position: absolute; */
    float: right;
    margin-right: 20px;
}
.textvlakwhitedoorzichtig2{
  	border: 2px #1F4E79; /*blue*/
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 3%;
    margin-right: 36%;
    margin-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-size: 44px;
}


/*-------------------------------- Desktop versie -------------------------------*/


/* ---------------------------- Grid homepage ---------------------------- */
.grid {
	display: grid;
  display: -ms-grid;
	grid-template-columns: 25vw 25vw 25vw 25vw;
  -ms-grid-columns: 25vw 25vw 25vw 25vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "homepage homepage homepage homepage"
  "sectiontussen1 sectiontussen1 sectiontussen1 sectiontussen1"
	"section1 section2 section3 section4"
	"sectiontussen2 sectiontussen2 sectiontussen2 sectiontussen2"
	"section5 section5 section6 section6"
  "sectiontussen3 sectiontussen3 sectiontussen3 sectiontussen3"
  "section7 section8 section9 section10"
  "sectiontussen5 sectiontussen5 sectiontussen5 sectiontussen5"
 ;
}


/*--------------------- Homepage ---------------------*/
.homepage{
  grid-area: homepage;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 96vh;
  background:url(../images/rsz_183-7953.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


/*--------------------- Section1 ---------------------*/
.section1{
  grid-area: section1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
	font-family: 'droid_sansregular';
	color:black;
	border: 2px #1F4E79; /*blue*/
  padding-top: 1%;
	padding-left: 4%;
	margin-left: 4%;
	margin-right: 8%;
	position: relative;
  border-style: solid;
}

/*--------------------- Section2 ---------------------*/
.section2{
  grid-area: section2;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
	font-family: 'droid_sansregular';
	color:black;
	border: 2px #1F4E79; /*blue*/
  padding-top: 1%;
	padding-left: 4%;
	margin-left: 3%;
	margin-right: 8%;
	position: relative;
  border-style: solid;
}

/*--------------------- Section3 ---------------------*/
.section3{
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: section3;
	font-family: 'droid_sansregular';
	color:black;
	border: 2px #1F4E79; /*blue*/
  padding-top: 1%;
	padding-left: 4%;
	margin-left: 4%;
	margin-right: 8%;
	position: relative;
  border-style: solid;
}

/*--------------------- Section4 Nieuws ---------------------*/
.section4{
  grid-area: section4;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
	font-family: 'droid_sansregular';
	color:black;
	border: 2px #1F4E79; /*blue*/
  padding-top: 1%;
	padding-left: 4%;
	margin-left: 4%;
	margin-right: 8%;
	position: relative;
  border-style: solid;

}

/*--------------------- Section5 ---------------------*/
.section5{
  grid-area: section5;
  -ms-grid-row: 5;
  -ms-grid-column-span: 2;
  -ms-grid-column: 1 / 2;
  text-align: center;
}

/*--------------------- Section6 ---------------------*/
.section6{
  grid-area: section6;
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  padding-right: 20%;
  padding-top: 16%;
}

/*--------------------- Section7 ---------------------*/
.section7{
  grid-area: section7;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  padding-left: 7%;
  padding-right: 7%;
}

/*--------------------- Section8 ---------------------*/
.section8{
  grid-area: section8;
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section9 ---------------------*/
.section9{
  grid-area: section9;
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section10 ---------------------*/
.section10{
  grid-area: section10;
  -ms-grid-row: 7;
  -ms-grid-column: 4;
  padding-left: 7%;
  padding-right: 7%;
}

/*--------------------- Sectiontussen1 ---------------------*/
.sectiontussen1{
	grid-area: sectiontussen1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 7vh;
}
/*--------------------- Sectiontussen2 ---------------------*/
.sectiontussen2{
	grid-area: sectiontussen2;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 7vh;
}
/*--------------------- Sectiontussen3 ---------------------*/
.sectiontussen3{
	grid-area: sectiontussen3;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 7vh;
}
/*--------------------- Sectiontussen4 ---------------------*/
.sectiontussen4{
	grid-area: sectiontussen4;
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen5{
	grid-area: sectiontussen5;
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
	min-height: 7vh;
}
.sectiontussen6{ /*--------------------- Problems with IE not showing in desktop---------------------*/
  grid-area: sectiontussen6;
  min-height: 7vh;
  -ms-grid-row: 10;
  -ms-grid-column: 1;
}
.sectiontussen7{
  grid-area: sectiontussen7;
  min-height: 7vh;
  -ms-grid-row: 10;
  -ms-grid-column: 2;
}
.sectiontussen8{
  grid-area: sectiontussen8;
  min-height: 7vh;
  -ms-grid-row: 10;
  -ms-grid-column: 3;
}
.sectiontussen9{
  grid-area: sectiontussen9;
  min-height: 7vh;
  -ms-grid-row: 10;
  -ms-grid-column: 4;
}
.sectiontussen10{
  grid-area: sectiontussen;
  min-height: 7vh;
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.sectiontussen11{
  min-height: 7vh;
	grid-area: sectiontussen11;
  -ms-grid-row: 11;
  -ms-grid-column: 2;
}

/*--------------------- Button desktop same space ---------------------*/
.buttonplace{
	position: absolute;
	bottom: 2%;
}

.buttonplacedown{
	padding-bottom: 15%;
}
.buttonplacedown4{
	padding-bottom: 27%;
}

/* -----------------------------------Navbar----------------------------------- */
.headercolor{
  padding-bottom: 1%;
  color: #1e1d1d;

  background:url(../images/aspergeplant.jpg);
  /* background-attachment: fixed; */
  background-position: 50% 76%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.center{
  text-align: center;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}

/* -----------------------------------Header Nieuwsbrief adress Logo----------------------------------- */
.logo{
  width: 20%;
  max-width: 50%;
  padding-top: 4%;
}
.header	{
	/* float:left;
	font-family: 'droid_sansregular';
	width:808px; */
	margin: 0% 5% 0% 5%;
}

.slogan	{
	margin-bottom: 1%;
}

.slogan p	{
	text-align:left;
	border-bottom: 3px solid black;
	padding:0 0 5px 0;
	margin-top: -3%;
}


/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {
/* ---------------------------- Grid homepage ---------------------------- */
.grid {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 1fr;
	grid-template-areas:
  "homepage"
  "sectiontussen1"
	"section1"
  "sectiontussen2"
  "section2"
  "sectiontussen3"
  "section3"
  "sectiontussen4"
  "section4"
	"sectiontussen5"
	"section5"
  "sectiontussen6"
  "section6"
  "sectiontussen7"
  "section7"
  "sectiontussen8"
  "section8"
  "sectiontussen9"
  "section9"
  "sectiontussen10"
  "section10"
  "sectiontussen11"

 ;
}


/*--------------------- Homepage ---------------------*/
.homepage{
  grid-area: homepage;
	background:url(../images/rsz_183-7953.jpg);
	min-height: 96vh;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 52px;
}

.textvlakwhitedoorzichtig1{
  border: 1px #1F4E79; /*blue*/
  /* border-style: solid; */
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: 0.2%;
  margin-left: 6%;
  text-align: center;
  font-size: 26px;
  position: absolute;
}

/*--------------------- Section1 ---------------------*/
.section1{
  grid-area: section1;
	font-family: 'droid_sansregular';
  color:black;
  border: 2px #1F4E79; /*blue*/
  margin-left: 6%;
  margin-left: 6%;
  margin-right: 6%;
	position: relative;
  padding-bottom: 13%;
  border-style: solid;
}

/*--------------------- Section2 ---------------------*/
.section2{
  grid-area: section2;
	font-family: 'droid_sansregular';
  color:black;
	border: 2px #1F4E79; /*blue*/
	padding-left: 4%;
  margin-left: 6%;
  margin-right: 6%;
	position: relative;
  border-style: solid;
}

/*--------------------- Section3 ---------------------*/
.section3{
  grid-area: section3;
	font-family: 'droid_sansregular';
  color:black;
	border: 2px #1F4E79; /*blue*/
	padding-left: 4%;
  margin-left: 6%;
  margin-right: 6%;
	position: relative;
  border-style: solid;

}

/*--------------------- Section4 Nieuws ---------------------*/
.section4{
  grid-area: section4;
  font-family: 'droid_sansregular';
  color:black;
  border: 2px #1F4E79; /*blue*/
  padding-left: 4%;
  margin-left: 6%;
  margin-right: 6%;
  position: relative;
  border-style: solid;
}

/*--------------------- Section5 ---------------------*/
.section5{
  grid-area: section5;
  text-align: center;
  margin-left: 6%;
  margin-right: 6%;
}

/*--------------------- Section6 ---------------------*/
.section6{
  grid-area: section6;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;


}

/*--------------------- Section7 ---------------------*/
.section7{
  grid-area: section7;
  padding-left: 7%;
  padding-right: 7%;
}

/*--------------------- Section8 ---------------------*/
.section8{
  grid-area: section8;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section9 ---------------------*/
.section9{
  grid-area: section9;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section10 ---------------------*/
.section10{
  grid-area: section10;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

/*--------------------- Sectiontussen1 ---------------------*/
.sectiontussen1{
	grid-area: sectiontussen1;
	min-height: 7vh;
}
/*--------------------- Sectiontussen2 ---------------------*/
.sectiontussen2{
	grid-area: sectiontussen2;
	min-height: 7vh;
}
/*--------------------- Sectiontussen3 ---------------------*/
.sectiontussen3{
	grid-area: sectiontussen3;
	min-height: 7vh;
}
/*--------------------- Sectiontussen4 ---------------------*/
.sectiontussen4{
	grid-area: sectiontussen4;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen5{
	grid-area: sectiontussen5;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen6{
	grid-area: sectiontussen6;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen7{
	grid-area: sectiontussen7;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen8{
	grid-area: sectiontussen8;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen9{
	grid-area: sectiontussen9;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen10{
	grid-area: sectiontussen10;
	min-height: 7vh;
}
/*--------------------- Sectiontussen5 ---------------------*/
.sectiontussen11{
	grid-area: sectiontussen11;
	min-height: 7vh;
}

/* -----------------------------------Header Nieuwsbrief adress Logo----------------------------------- */
.logo{
  width: 97%;
  max-width: 100%;
  padding-top: 4%;
}
.header	{
	/* float:left;
	font-family: 'droid_sansregular';
	width:808px; */
	margin: 0% 5% 0% 5%;
}

.slogan	{
	margin-bottom: 1%;
}

.slogan p	{
	text-align: center;
	border-bottom: 3px solid black;
	padding:0 0 5px 0;
	margin-top: -3%;
}



/*--------------------- Button desktop same space ---------------------*/
.buttonplace{
	position: absolute;
	bottom: 4%;
}

.buttonplacedown{
	padding-bottom: 15%;
}
.buttonplacedown4{
	padding-bottom: 13%;
}


}/*Media Query Mobiel*/


/* -----------------------------------Navbar----------------------------------- */
.navbar {
  overflow: hidden;
  /* position: fixed; */
  width: 100%;
  font-size: 117%;
}

.navbar a {
  float:left;
	text-transform:uppercase;
	list-style:none;
	padding:0 8.0px;
	border-left:1px solid #000;
  font-size: 138%;
	color: black;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a:first-child{
  border: none;
  padding: 0 10px 0 0;
}
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.navbar .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    right: 0;
    bottom:0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* ------------------------------ Contactpage ------------------------------*/

.gridcontact {
	display: grid;
  display: -ms-grid;
  margin-top: 3vh;
	grid-template-columns: 33vw 33vw 34vw;
  -ms-grid-columns: 33vw 33vw 34vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
	"section1contact section2contact section3contact"
 ;
}

/*--------------------- section1contact ---------------------*/
.section1contact{
  grid-area: section1contact;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  padding-left: 7%;
  padding-right: 7%;
}

/*--------------------- section2contact ---------------------*/
.section2contact{
  grid-area: section2contact;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- section3contact ---------------------*/
.section3contact{
  grid-area: section3contact;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- section4contact ---------------------*/
.section4contact{
  grid-area: section4contact;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
.container{/* Drukt footer omlaag */
  min-height: 100vh;
}


/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {
/* ---------------------------- Grid contact ---------------------------- */
.gridcontact {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 1fr;
	grid-template-areas:
  "section2contact"
	"section1contact"
  "section3contact"
  "section4contact"
 ;
}


/*--------------------- Section1 ---------------------*/
.section1contact{
  grid-area: section1contact;
  padding-left: 7%;
  padding-right: 7%;
}

/*--------------------- Section2 ---------------------*/
.section2contact{
  grid-area: section2contact;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section3 ---------------------*/
.section3contact{
  grid-area: section3contact;
  padding-left: 7%;
  padding-right: 7%;
}
/*--------------------- Section4 ---------------------*/
.section4contact{
  grid-area: section4contact;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

.socialmedia{
  text-align: center;
}

}/*Media Query Mobiel*/



/* ------------------------------------------socialmedia------------------------------------------ */
.facebook{
  color: #3B5998;
  fill: currentColor;
  opacity: 1;
}
.youtube{
  color: #cc181e;
  fill: currentColor;
  opacity: 1;
}

/* ------------------------------------------Recepten page------------------------------------------ */
.gridreceptenpage {
	display: grid;
  display: -ms-grid;
  margin-top: 3vh;
	grid-template-columns: 33vw 33vw 34vw;
  -ms-grid-columns: 33vw 33vw 34vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "receptentussen1 receptentussen1 receptentussen1"
	"receptenpage1 receptenpage2 receptenpage3"
  "receptentussen2 receptentussen2 receptentussen2"
	"receptenpage4 receptenpage5 receptenpage6"
  "receptentussen3 receptentussen3 receptentussen3"
 ;
}


/*--------------------- receptenpage1 ---------------------*/
.receptenpage1{
  grid-area: receptenpage1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}

/*--------------------- receptenpage2 ---------------------*/
.receptenpage2{
  grid-area: receptenpage2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}
/*--------------------- receptenpage3 ---------------------*/
.receptenpage3{
  grid-area: receptenpage3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage4{
  grid-area: receptenpage4;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage5{
  grid-area: receptenpage5;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage6{
  grid-area: receptenpage6;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;

  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
}

/*--------------------- Tussen section ---------------------*/
.receptentussen1{
	grid-area: receptentussen1;
	min-height: 2vh;
}

.receptentussen2{
	grid-area: receptentussen2;
	min-height: 7vh;
}
.receptentussen3{
	grid-area: receptentussen3;
	min-height: 7vh;
}


/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {
/* ---------------------------- Grid Receptenpage ---------------------------- */
.gridreceptenpage {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 1fr;
	grid-template-areas:
  "receptenpage1"
  "receptentussen1"
	"receptenpage2"
  "receptentussen2"
  "receptenpage3"
  "receptentussen3"
  "receptenpage4"
  "receptentussen4"
  "receptenpage5"
  "receptentussen5"
  "receptenpage6"
  "receptentussen6"

 ;
}



/*--------------------- receptenpage1 ---------------------*/
.receptenpage1{
  grid-area: receptenpage1;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

/*--------------------- receptenpage2 ---------------------*/
.receptenpage2{
  grid-area: receptenpage2;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
/*--------------------- receptenpage3 ---------------------*/
.receptenpage3{
  grid-area: receptenpage3;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage4{
  grid-area: receptenpage4;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage5{
  grid-area: receptenpage5;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}
/*--------------------- receptenpage4 ---------------------*/
.receptenpage6{
  grid-area: receptenpage6;
  padding-left: 7%;
  padding-right: 7%;
  text-align: center;
}

/*--------------------- Tussen section ---------------------*/
.receptentussen1{
	grid-area: receptentussen1;
	min-height: 3vh;
}

.receptentussen2{
	grid-area: receptentussen2;
	min-height: 3vh;
}

.receptentussen3{
	grid-area: receptentussen3;
	min-height: 3vh;
}

.receptentussen4{
	grid-area: receptentussen4;
	min-height: 3vh;
}
.receptentussen5{
	grid-area: receptentussen5;
	min-height: 3vh;
}
.receptentussen6{
	grid-area: receptentussen6;
	min-height: 3vh;
}


}/*Media Query Mobiel*/



/* ----------------------------------------Down button---------------------------------------- */
.demo{
  margin-left: 50%;
}

.demo a {
  position: absolute;
  bottom: 15%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  color: black;
}
.demo a:hover {
  opacity: .5;
}

#homepage a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 3px solid #000000;
  border-radius: 100%;
  box-sizing: border-box;
}

#freshfoodacademyhome a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 3px solid #000000;
  border-radius: 100%;
  box-sizing: border-box;
}
#freshfoodacademyhome a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#homepage a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #000000;
  border-bottom: 4px solid #000000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
#homepage a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
#freshfoodacademyhome a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

}/*Media Query for desktop animated button*/

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1); /*Button animation*/
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 40px rgba(255,255,255,.1); /*Button animation*/
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* ----------------------------------------video---------------------------------------- */


#sbs6video{
  min-width: 100%;
  min-height: 100%;
  height: 80vh;
}
.recptendata{
  min-height: 20vh;
  padding-left: 7%;
  padding-right: 7%;
  text-align: left;
  border:1px solid #1F4E79;
  margin-right: 8%;
  margin-left: 8%;
  padding-top: 1%;
  padding-bottom: 2%;
  background-color: rgba(221, 221, 221, 0.4);
  margin-bottom: 2%;
}
/* ------------------------------------------fresh food academy------------------------------------------ */
.gridfreshfoodacademy {

	display: grid;
  display: -ms-grid;
	grid-template-columns: 50vw 50vw;
  -ms-grid-columns: 50vw 50vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "freshfoodacademyhome freshfoodacademyhome"
  "freshfoodacademy1 freshfoodacademy2"
  "freshfoodacademy3 freshfoodacademy4"
  "freshfoodacademy5 freshfoodacademy6"
 ;
}
.mobielversie{
  margin-top: 3vh;
  margin-left: 65px;
  margin-right: 65px;
}
.freshfoodacademyhome{
  grid-area: freshfoodacademyhome;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  background:url(../images/dienblad_kroket.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 77vh;
}
.freshfoodacademy1{
  grid-area: freshfoodacademy1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}
.freshfoodacademy2{
  grid-area: freshfoodacademy2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.freshfoodacademy3{
  grid-area: freshfoodacademy3;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}
.freshfoodacademy4{
  grid-area: freshfoodacademy4;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.freshfoodacademy5{
  grid-area: freshfoodacademy5;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}
.freshfoodacademy6{
  grid-area: freshfoodacademy6;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
}
.textvlakwhitedoorzichtigfresh{
  	border: 1px #1F4E79; /*blue*/
    /* border-style: solid; */
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: 44px;
    margin-top: 24%;
}

@media screen and (max-width: 800px) {
.gridfreshfoodacademy {

  	display: grid;
    display: -ms-grid;
  	grid-template-columns: 100vw;
    -ms-grid-columns: 100vw;
  	grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
  	grid-template-areas:
    "freshfoodacademyhome"
    "freshfoodacademy1"
    "freshfoodacademy2"
    "freshfoodacademy4"
    "freshfoodacademy3"
    "freshfoodacademy5"
    "freshfoodacademy6"
   ;
  }

.mobielversie{
  margin-top: 3vh;
  margin-left: 4%;
  margin-right: 4%;
}
}/*Media Query Mobiel*/




@media screen and (max-width: 800px) {
.textvlakwhitedoorzichtigfresh{
    	border: 1px #1F4E79; /*blue*/
      /* border-style: solid; */
      background-color: rgba(255, 255, 255, 0.6);
      padding-top: 2px;
      padding-bottom: 2px;
      text-align: center;
      font-size: 44px;
      margin-top: 64%;
  }
}/*Media Query Mobiel*/


/* ------------------------------------------De boerderij------------------------------------------ */
.griddeboerderij {
	display: grid;
	grid-template-columns: 5vw 45vw 45vw 5vw;
	grid-template-rows: 1fr;
	grid-template-areas:
  "deboerderijlinks sectiontussen1 sectiontussen1 deboerderijrechts"
  "deboerderijlinks deboerderij1 deboerderij2 deboerderijrechts"
  "deboerderijlinks sectiontussen2 sectiontussen2 deboerderijrechts"
  "deboerderijlinks deboerderij3 deboerderij4 deboerderijrechts"
  "deboerderijlinks sectiontussen3 sectiontussen3 deboerderijrechts"
  "deboerderijlinks deboerderij5 deboerderij6 deboerderijrechts"
  "deboerderijlinks sectiontussen4 sectiontussen4 deboerderijrechts"
  "deboerderijlinks deboerderij7 deboerderij8 deboerderijrechts"
  "deboerderijlinks sectiontussen5 sectiontussen5 deboerderijrechts"
  "deboerderijlinks deboerderij9 deboerderij10 deboerderijrechts"
  "deboerderijlinks sectiontussen6 sectiontussen6 deboerderijrechts"
  "deboerderijlinks deboerderij11 deboerderij12 deboerderijrechts"
  "deboerderijlinks sectiontussen7 sectiontussen7 deboerderijrechts"
 ;
}
.deboerderijlinks{
  grid-area: deboerderijlinks;
}
.deboerderijrechts{
  grid-area: deboerderijrechts;
}
.deboerderij{
  padding-right: 30px;
}

.deboerderij1{
  grid-area: deboerderij1;
}
.deboerderij2{
  grid-area: deboerderij2;
  text-align: right;
}
.deboerderij3{
  grid-area: deboerderij3;
}
.deboerderij4{
  grid-area: deboerderij4;
}
.deboerderij5{
  grid-area: deboerderij5;
}
.deboerderij6{
  grid-area: deboerderij6;
  text-align: right;
}
.deboerderij7{
  grid-area: deboerderij7;
}
.deboerderij8{
  grid-area: deboerderij8;
}
.deboerderij9{
  grid-area: deboerderij9;
}
.deboerderij10{
  grid-area: deboerderij10;
  text-align: right;
}
.deboerderij11{
  grid-area: deboerderij11;
}
.deboerderij12{
  grid-area: deboerderij12;
}
.deboerderijfotoformaat{
  max-width: 75%;
}

@media screen and (max-width: 800px) {

  .griddeboerderij {
  	display: grid;
    display: -ms-grid;
    margin-top: 3vh;
  	grid-template-columns: 100vw;
    -ms-grid-columns: 100vw;
  	grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
  	grid-template-areas:
    "deboerderij1"
    "deboerderij2"
    "deboerderij4"
    "deboerderij3"
    "deboerderij5"
    "deboerderij6"
    "deboerderij8"
    "deboerderij7"
    "deboerderij9"
    "deboerderij10"
    "deboerderij11"
    "deboerderij12"
   ;
  }
.deboerderij{
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 5%;
}
.deboerderij2{
  text-align: center;
}
.deboerderij3{
  text-align: center;
}
.deboerderij6{
  text-align: center;
}
.deboerderij7{
  text-align: center;
}
.deboerderij10{
  text-align: center;
}
.deboerderijfotoformaat{
  max-width: 100%;
}

  }/*Media Query Mobiel*/

/* ------------------------------------------excursie------------------------------------------ */

.flex-container {
  display: flex;
  display: -ms-flexbox; /* IE10 */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap; /* IE10 */
  justify-content: center;
}
.arrangement{
  font-family: 'droid_sansregular';
	color:black;
	position: relative;
  background: #FFFFFF;
  width: 23%;
  min-width: 278px;
  margin: 1.3%;
  position: relative;
  color: #333;
  margin-top: 35px;
  min-height: 540px;
  box-shadow: 0px 0px 62px 0px grey;
}
.textareaexcursies{
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
}
/* -----------------------arrangementbutton----------------------- */
.arrangementbutton{
  color: white;
  padding: 0% 0% 0% 0%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 163px;
  margin-right: 8%;
  border-radius: 15px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  min-width: 22vh;
  box-shadow: 4px 6px 5px grey;
  padding-top: 4%;
  padding-bottom: 4%;
}
.prijsfont{
  font-size: 155%;
  color: #333;
  margin: 0% 8% -1%;
}
.onderprijs{
  margin: 0% 8% -15%;
}

@media screen and (max-width: 800px) {
  .arrangementbutton{
    margin-left: 155px;
    min-width: 18vh;
  }
  .prijsfont{
    margin: 0% 8% -1%;
  }
  .onderprijs{
    margin: 0% 8% -17%;
  }
}/*Media Query for mobiel button*/



/* ---------------------------------------excursiepagina--------------------------------------- */
.excursiepaginagrid {
	display: grid;
  display: -ms-grid;
	grid-template-columns: 70vw 30vw;
  -ms-grid-columns: 70vw 30vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "sectiontussen1 sectiontussen1"
  "excursie1 excursie2"
  "sectiontussen2 sectiontussen2"
 ;
}
.excursie1{
    grid-area: excursie1;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    margin-left: 17%;
}
.excursie2{
    grid-area: excursie2;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    margin-left: 10%;
}
.reserveren{
  width: 70%;
}
/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {
  .excursiepaginagrid {
  	display: grid;
    display: -ms-grid;
  	grid-template-columns: 100vw;
    -ms-grid-columns: 100vw;
  	grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
  	grid-template-areas:
    "sectiontussen1"
    "excursie1"
    "sectiontussen2"
    "excursie2"
    "sectiontussen3"
   ;
  }
.excursie1{
  margin-left: 5%;
  margin-right: 5%;
  }
.excursie2{
  margin-left: 5%;
  margin-right: 5%;
}
.centermobiel{
  width: 400px;
}

}/*Media Query Mobiel*/


/* ---------------------------- Grid Recepten ---------------------------- */
.gridrecepten {
	display: grid;
  display: -ms-grid;
	grid-template-columns: 50vw 25vw 25vw;
  -ms-grid-columns: 50vw 25vw 25vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "sectiontussen1 sectiontussen1 sectiontussen1"
  "recept1 recept2 meerrecepten"
  "recept3 recept3 meerrecepten"
  "sectiontussen3 sectiontussen3 sectiontussen3"
 ;
}


.meerrecepten{
  grid-area: meerrecepten;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.recept1{
  grid-area: recept1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  text-align: center;
  margin-top: -2%;
}
.recept2{
  grid-area: recept2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  padding: 13px 20px 8px;
  background-color: #fff;
  background-color: rgba(255,255,255,.8);
  margin-right: 15%;
}
.recept3{
  grid-area: recept3;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  margin-left: 17%;
  margin-right: 4%;
}

/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {
/* ---------------------------- Grid Recepten ---------------------------- */
.gridrecepten {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 1fr;
	grid-template-areas:
  "sectiontussen1"
  "recept1"
  "sectiontussen2"
  "recept2"
  "sectiontussen3"
  "recept3"
  "sectiontussen4"
  "meerrecepten"
  "sectiontussen5"

 ;
}

.recept2{
  grid-area: recept2;
  margin-left: 4%;
  margin-right: 4%;
}
.recept3{
  grid-area: recept3;
  margin-left: 5%;
  margin-right: 5%;
}

}/*Media Query Mobiel*/


.page404{
  text-align: center;
  margin-top: 4%;
}





/* ------------------------------------------grid producten------------------------------------------ */
.gridproducten {
	display: grid;
  display: -ms-grid;
  margin-top: 3vh;
	grid-template-columns: 40vw 51vw 9vw;
  -ms-grid-columns: 35vw 48vw 17vw;
	grid-template-rows: 1fr;
  -ms-grid-rows: 1fr;
	grid-template-areas:
  "producten1 producten2 producten3"

 ;
}
.producten1{
  grid-area: producten1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  margin-left: 12%;
  margin-right: 4%;
}
.producten2{
  grid-area: producten2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  margin-top: 80px;
}
.producten3{
  grid-area: producten3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
}


/*------------------------------- Mobiel versie -------------------------------*/
@media screen and (max-width: 800px) {

  .gridproducten {
  	display: grid;
    display: -ms-grid;
    margin-top: 3vh;
  	grid-template-columns: 100vw;
    -ms-grid-columns: 100vw;
  	grid-template-rows: 1fr;
    -ms-grid-rows: 1fr;
  	grid-template-areas:
    "producten1"
    "producten2"
    "producten3"

   ;
  }
.producten1{
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;

  margin-left: 5%;
  margin-right: 5%;
}
.producten2{
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;

  margin-top: 30px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}
.producten3{
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
}

}/*Media Query Mobiel*/
